.bookingForm {
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 32px;
    width: 640px;
    height: 488px;
}

.bookingFormTitle {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 8px;
}

.bookingFormParagraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);
    margin-bottom: 24px;
}

.bookingContentWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.bookingInput,
.bookingTextarea {
    border-radius: 12px;
    padding: 14px 20px;
    width: 576px;
    height: 48px;
    background: var(--inputs);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}

.bookingTextarea {
    height: 88px;
    padding: 12px 20px 56px;
    resize: none;
}

.bookingFormBtn {
    border-radius: 12px;
    padding: 12px 51px;
    width: 156px;
    height: 44px;
}

.bookingFormBtnWrapper {
    display: flex;
    justify-content: center;
}

.datePickerWrapper :global(.react-datepicker-wrapper) {
    width: 100%;
}

:global(.react-datepicker) {
    font-family: inherit;
    border: 1px solid var(--button);
    border-radius: 12px;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.08);
}

:global(.react-datepicker__header) {
    background-color: var(--white);

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: none;
}

:global(.react-datepicker__day-names) {
    border-bottom: 1px solid var(--button);
    padding-bottom: 8px;
    display: flex;
    justify-content: space-around;
}

:global(.react-datepicker__day-name) {
    color: var(--gray);
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
    background-color: var(--button);
    color: var(--white);
    border-radius: 50%;
}

:global(.react-datepicker__month) {
    margin-top: 16px;

}

:global(.react-datepicker__navigation) {
    top: 15px;
    background: none !important;
}


.datePickerWrapper :global(.react-datepicker__triangle) {
    fill: var(--inputs);
    stroke: var(--button);
}

:global(.react-datepicker__close-icon) {
    padding: 0 10px 0 0 !important;
    background-color: transparent !important;
}

:global(.react-datepicker__navigation-icon::before) {
    border-color: var(--button);
    border-width: 2px 2px 0 0;
    width: 8px;
    height: 8px;
}

:global(.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before) {
    border-color: var(--button-hover);
}

:global(.react-datepicker__current-month) {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
    background-color: var(--button);
    color: var(--white);
    border-radius: 50%;
}

:global(.react-datepicker__day:hover) {
    border-radius: 50%;

}

:global(.react-datepicker__day) {
    width: 32px !important;
    line-height: 32px !important;
    margin: 2px !important;
    border-radius: 50% !important;
    transition: var(--transition);
    font-family: var(--second-family);
    line-height: 120%;
    text-align: center;
}