.filterWrapper {
    display: flex;
    align-items: end;
    gap: 16px;
    margin-bottom: 56px;
    justify-content: center;
}

.filterSelect {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: var(--inputs);
    appearance: none;
    position: relative;
    border: none;
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
}

.filterInfo {
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    margin-bottom: 8px;
}

.filterInfoWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}


.mileageWrapper {
    display: flex;
    align-items: center;
    background: var(--inputs);
    border-radius: 12px;
    overflow: hidden;
    width: 320px;
    height: 44px;
}

.mileageLabel {
    display: flex;
    align-items: center;
    padding-left: 24px;
    background: var(--inputs);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}

.mileageInputLeft,
.mileageInputRight {
    width: 100%;
    height: 44px;
    padding: 12px 8px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
}

.mileageInputLeft {
    border-right: 1px solid var(--gray-light);
}

.filterBtn {
    border-radius: 12px;
    padding: 12px 51px;
    width: 156px;
    height: 44px;
}

.selectWrapper {
    position: relative;
    width: 204px;
}

.customSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: var(--inputs);
}

.placeholder {
    color: var(--main);
}

.optionsList {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    max-height: 272px;
    list-style: none;
    background: var(--white);
    border: 1px solid rgba(18, 20, 23, 0.05);
    border-radius: 14px;
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);

    padding: 14px 18px;
    overflow-y: auto;
    z-index: 100;

    gap: 8px;
    display: flex;
    flex-direction: column;
}

.selectIcon {
    flex-shrink: 0;
    transition: var(--transition);
    align-self: center;
}

.optionsList::-webkit-scrollbar {
    width: 16px;
}

.optionsList::-webkit-scrollbar-thumb {
    background: var(--gray-light);
    border-radius: 10px;
    border: 4px solid white;
    background-clip: padding-box;
}

.optionsList::-webkit-scrollbar-track {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 8px;
}

.option {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);
    padding: 0;
    cursor: pointer;
}

.option:hover,
.optionSelected {
    color: var(--main);
}

.rotated {
    transform: rotate(180deg);
}