:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --font-family: var(--font-manrope), sans-serif;
  --second-family: var(--font-inter), sans-serif;
  --transition: 300ms ease-in-out;
}

body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  background: var(--white);
  color: var(--main);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color var(--transition);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: var(--main);
  margin: 0;
}

input,
select,
textarea {
  font-family: inherit;
  outline: none;
  background: none;
  border: none;
  color: var(--main);
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  min-height: 100vh;
}

.headerOffset {
  padding-top: 152px;
}

button,
.primaryBtn {
  background: var(--button);
  cursor: pointer;
  font-family: inherit;
  color: var(--white);
  transition: var(--transition);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  &:hover,
  &:focus {
    background: var(--button-hover);
  }
}