.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 20, 23, 0.2);
    z-index: 1;
  }
}

.heroImage {
  object-fit: cover;
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroBtn {
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
}

.heroTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.heroParagraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}